<% content_for :main_container_class do %>
	add_main_image
<% end %>
<div class="extra_padded_container">
  <div class="row">
    <h1 class="text-center extra_bottom_margin">Who are we?</h1>
    <div class="col-xs-12 clearfix">
	  <p class="text-center">
	    Our mission is to assist people to discover, honor and express their unique contribution in the world, which we say, is their magnificence!
	  </p>
	  <p class="text-center">
	    Your Infinite Life Training & Coaching Company serves as a bridge for people as we guide them to discover, honor and live their unique life's purpose. We provide training and coaching via course experiences, quests, coaching, books and workshops.
	  </p>
	  <p class="text-center">
	    WHY we offer our courses, WHY we are in business – to assist people in discovering, honoring and expressing their unique contribution in the world – their magnificence.  The discovery, the honoring, the expression of magnificence means that we treat each other and ourselves more compassionately, we see each other and ourselves as brilliant, we judge from the beauty and care about the pain.  This is the richness the world – and YOU – deserves to experience!
	  </p>
    </div>
  </div>

  <div class="row">
    <h1 class="text-center extra_bottom_margin">Our Services</h1>
    <div class="col-sm-3 company_service">
	  <img src="http://placehold.it/200x200" class="img-circle center-block">
    </div>
    <div class="col-sm-3 company_service">
	  <img src="http://placehold.it/200x200" class="img-circle center-block">
    </div>
    <div class="col-sm-3 company_service">
	  <img src="http://placehold.it/200x200" class="img-circle center-block">
    </div>
    <div class="col-sm-3 company_service">
	  <img src="http://placehold.it/200x200" class="img-circle center-block">
    </div>
  </div>

  <div class="row full-width-background">
    <div class="col-sm-4">
	  <p class="text-center" style="font-size:40px; font-weight:bold">13</p>
	  <p class="text-center" style="font-size:25px">age of youngest course graduate</p>
    </div>
    <div class="col-sm-4">
	  <p class="text-center"><%= icon('globe', style: 'font-size:40px; padding:10px') %></p>
	  <p class="text-center" style="font-size:25px">courses in 25 US cities & 4 continents</p>
    </div>
    <div class="col-sm-4">
	  <p class="text-center"><%= icon('smile-o', style: 'font-size:40px; padding:10px') %></p>
	  <p class="text-center" style="font-size:25px">millions of lives transformed</p>
    </div>
  </div>

  <div class="row">
	<div class="col-sm-4">
	  <h3 class="text-uppercase banner_header">Video</h3>
	  <div class="embed-responsive embed-responsive-16by9">
		<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/87110435" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="https://vimeo.com/87110435">Video Placeholder</a> from <a href="https://vimeo.com/t3chstudios">T3ch Studios</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
	  </div>
	  <p class="text-uppercase text-right see_more_link">See More ></p>
	</div>
	<div class="col-sm-4">
	  <h3 class="text-uppercase banner_header">Testimonial</h3>
	  <div>
		<p class="extra_bottom_margin" style="font-size:16px; line-height:1.7;">"My wife and I took the Remembrance course and it has changed our lives and enhanced our relationship. We had a good relationship before and the course experience increased our love and trust for each other. Due to this increased love and trust we now enjoy each other more. Thank you."</p>
		<h4 class="text-uppercase">Ramon & Susan Ibarra</h4>
	  </div>
	  <p class="text-uppercase text-right see_more_link">See More ></p>
	</div>
	<div class="col-sm-4">
	  <h3 class="text-uppercase banner_header">Read</h3>
	  <div id="book_img_text">
		<img src="https://www.yourinfinitelifeonline.com/files/1414117380_book.png" class="img-responsive">
		<span>A book to help you express your true nature from your core values by embracing the magnificence in yourself and others.</span>
	  </div>
	  <p class="text-uppercase text-right see_more_link">Order ></p>
	</div>
  </div>

  <hr id="home_page_break">

  <div class="row">
	<div class="col-md-8 col-sm-10">
	  <h3 class="text-uppercase banner_header">Upcoming Courses</h3>
	</div>
	<div class="col-md-4 col-sm-2">
	  <div class="social_section">
		<h3 class="text-uppercase banner_header">Social</h3>
		<%= link_to icon('twitter'), '#' %>
		<%= link_to icon('facebook-official'), '#' %>
		<%= link_to icon('instagram'), '#' %>
	  </div>
	  <div class="social_section">
		<h3 class="text-uppercase banner_header">Join Our Newsletter</h3>
		<form>
		  <div class="form-group">
			<input type="email" class="form-control" id="newsletter_email_input">
			<input type="submit" class="text-uppercase" id="newsletter_email_submit" value="Go >">
		  </div>
		</form>
	  </div>
	</div>
  </div>
</div>